*{
  margin: 0;
  padding : 0;
  border:none;
}
#drum-machine{
  background-color: #444;
  padding: 15% 30%;
}
#display{
  border : 2px solid orange;
  display:flex;
  gap:10px;
  background-color: lightgrey;
  padding : 20px;
}
#pad-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  flex: 0 0 60%; 
}
.drum-pad{
  width: min(30%, 100px);
  aspect-ratio: 1 / 1; 
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color: white;
  font-size: 24px;
  cursor: pointer;
  border-radius: 6px;
}
#sound-name {
  width: 30%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #444;
  color : white;
  border-radius: 4px;
  text-align: center;
}

